body {
  font-family: sans-serif;
  background: #fdf6f9;
  padding: 30px;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 40px;
}

#contenedor-malla {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  align-items: flex-start;
}

.semestre {
  flex: 0 0 300px;
  border: 2px dashed #ccc;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  min-height: 300px;
}

.semestre h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  background-color: #eee;
  padding: 5px;
  border-radius: 6px;
}

.ramo {
  display: block;
  margin: 10px auto;
  padding: 10px 12px;
  border-radius: 10px;
  background-color: #ffb6c1;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  color: #333;
  width: 90%;
  border-left: 10px solid transparent;
  text-align: center;
}

.ramo.aprobado {
  background-color: mediumorchid;
  color: white;
  text-decoration: line-through;
}

.ramo.bloqueado {
  background-color: #d3d3d3;
  color: #777;
  cursor: not-allowed;
}

.ramo.PC { border-left-color: #e53935; }
.ramo.TR { border-left-color: #43a047; }
.ramo.CE { border-left-color: #1e88e5; }
.ramo.RS { border-left-color: #ffb300; }
.ramo.HC { border-left-color: #9e9e9e; }
.ramo.TE { border-left-color: #8e24aa; }
